label {
	width: 11em;
	display: inline-block;
}

fieldset {
	margin-bottom: 1em;
	max-width: 25em;
}

input, select {
	width: 5em;
}

input:invalid {
	border-color: #F00;
}

input:invalid+span:after {
	content: '!';
	padding-left: 5px;
	color: #A00;
}

button {
	padding: .5em 1em;
	margin-right: 1em;
}

summary {
	cursor: pointer;	
}

.nobr {
	white-space: nowrap;
}