html, input, button {
	font-family: sans-serif;
	font-size: 150%
}

input[type=number] {
	width: 4em
}

input[type=range] {
	width: 100%
}

input[type=range] {
	pointer-events: none;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events:auto;
}

h2 {
	padding: 0;
	margin: 0;
}

.light,
.vibrate {
	display: none
}

.receiver {
	float: left;
	border: 1px solid #AAA;
	border-radius: 10px;
	padding: 0.5em;
	max-width: 13em;
	margin: 0 1em 1em 0;
}

hr {
	clear: both;
}

button {
	width: 3.2em;
	height: 2em;
	padding: 0;
	font-size: 120%;
	margin-top: .5em;
}
