
#gamepad {
	font-family: sans-serif;
	font-size: 10vmin;
}

.punishing {
	background-color: #F00;
}

.hidden {
	display: none;
}

#b9 {
	color: #FF0;
	background-color: #000;
}
#b10 {
	color: #7AF;
	background-color: #000;
}
#b11 {
	color: #A00;
	background-color: #000;
}
#b12 {
	color: #0F0;
	background-color: #000;
}

#t14, #t16 {
	text-align: right;
}

#b13, #b14, #b15, #b16 {
	color: #AAA;
	background-color: #000;
	font-size: 7vmin;
}

#b13.desired, #b14.desired, #b15.desired, #b16.desired {
	color: #FFF;
}

.b {
	opacity: 10%;
}

.desired {
	opacity: 100%;
}

.pressed {
	border: 2px solid #0A0;
}

input, label, select {
	width: 9em;
	display: inline-block;
}